body {
    margin: 0;
}

#mapid {
    height: 100vh; 
}

.legend {
    line-height: 27px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    background-color: grey;
    border-radius: 8px;
    width: 120px;
    text-indent: 5%;
    padding-left: 10px
}